* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {


    background-image:url(../images/donation9.jpg);
    background-blend-mode: exclusion;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: darken;
}

.content {
    position: absolute;
    margin: 170px 300px;
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 70px;
}

.content p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.btn-primary {
    background: #FF5959;
    border-radius: 10px;
    color: white;
    padding: 12px 12px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
}
.content-text{
    margin-top: 130px;
    text-align: center;
}
.content-text h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.content-text p{
    margin-bottom: 50px;
    color: #707070;
}
.content-taka{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px;
    margin-bottom: 60px;
}
.content-taka h1{
    padding: 40px 25px;
    text-align: center;
    color: #707070;
}
.content-taka h1:nth-child(2){
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
section form{
    text-align: center;
}
.btn-input{
    text-align: center;
}
section input{
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 625px;
    font-weight: 400;
    color: #B3B3B3;
}

section .btn-section{
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
}
