* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

header {


    background-image:url(../images/donation9.jpg);
    background-blend-mode: exclusion;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-blend-mode: darken;
}

.content {
    position: absolute;
    margin: 170px 300px;
    text-align: center;
    color: black;
}

.content h1 {
    font-size: 70px;
}

.content p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}

.btn-primary {
    background: #FF5959;
    border-radius: 10px;
    color: white;
    padding: 12px 12px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: bold;
}
.content-text{
    margin-top: 130px;
    text-align: center;
}
.content-text h1{
    font-size: 45px;
    margin-bottom: 20px;
}

.content-text p{
    margin-bottom: 50px;
    color: #707070;
}
.content-taka{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 300px;
    margin-bottom: 60px;
}
.content-taka h1{
    padding: 40px 25px;
    text-align: center;
    color: #707070;
}
.content-taka h1:nth-child(2){
    background-color: #FFEEEE;
    color: #FF5959;
    border: 2px solid #FF5959;
    border-radius: 5px;
}
section form{
    text-align: center;
}
.btn-input{
    text-align: center;
}
section input{
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 625px;
    font-weight: 400;
    color: #B3B3B3;
}

.btn-main{
    text-align: center;
    margin-top: 30px;
    margin-left: 60px;
}

.plan-items{
    display: flex;
    margin: 50px 160px 130px;
    justify-content: space-between;
    gap: 25px;
    
}

.plan-items .img{
    margin-bottom: 500px;
}

.plan-items .plan-title{
    margin-bottom: 15px;
}

.plan-item1{
    background: rgba(79, 157, 166, 0.1);
    padding: 23px;
    border: 2px solid transparent;
    border-radius: 15px;
}

.plan-item2{
    background: rgba(255, 89, 89, 0.1);
    padding: 23px;
    border: 2px solid transparent;
    border-radius: 15px;
}
.plan-item3{
    background: rgba(175, 184, 94, 0.1);
    padding: 23px;
    border: 2px solid transparent;
    border-radius: 15px;
}
.plan-items .plan-description{
    color: #707070;
}

.image-text{
    display: flex;
    gap: 100px;
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

.text-item button{
    display: block;
    margin-top: 30px;
}

.text-item h1{
    margin-bottom: 20px;
}
.text-item p{
    margin-bottom: 20px;
}

.image-text img{
    border-radius: 10px;
}

/* .subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 800px;
    height: 200px;
    left: 315px;
    background: #FFF4D6;
} */

.end{
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px 0;
}
.end p{
    font-size: 12px;
}


